{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ game_details.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'main/images/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap">
</head>
<body>
<main>
    <h1 class="homepage-title"><a href="{% url 'search' %}">Game Finder 🎮</a></h1>
    {#TODO: Scroll down to page-container on search (Javascript probabaly)#}
    <div class="page-container">
        {#TODO: Image not found error handling#}
        <div class="img-card">
            {% if game_details.cover and game_details.cover.url %}
                <img alt="{{ game_details.name }} cover" src="{{ game_details.cover.url }}">
            {% else %}
                <img alt="No cover available" src="{% static 'main/images/imagenotfound.png' %}">
            {% endif %}
        </div>
        <div class="details-container">
            <h1 class="details-title">{{ game_details.name }}</h1>
            <p class="details-summary">Summary: {{ game_details.summary }}</p>
            <p>Release Dates:
                {% for date in game_details.release_dates %}
                    {{ date.human }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
            <p>Genres:
                {% for genre in game_details.genres %}
                    {{ genre.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
            <p>Platforms:
                {% for platform in game_details.platforms %}
                    {{ platform.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
            <p>Developers/Publishers:
                {% for company in game_details.involved_companies %}
                    {{ company.company.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
        </div>
    </div>
    <a class="back-button" href="{{ referer }}">Go Back</a>
</main>
</body>
</html>