{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'main/images/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap">
</head>
<body>
<main>
        <h1 class="homepage-title"><a href="{% url 'search' %}">Game Finder 🎮</a></h1>
        {% for game_detail in game_details %}
    <div class="page-container">
            <div class="img-card">
                <img alt="{{ game_detail.name }} cover" src="{{ game_detail.cover.url }}">
            </div>
            <div class="details-container">
                <h1 class="details-title">{{ game_detail.name }}</h1>
                <p class="details-summary">Summary: {{ game_detail.summary }}</p>
                <p>Release Dates: {{ game_detail.release_dates }}</p>
                <p>Genres: {{ game_detail.genres }}</p>
                <p>Platforms: {{ game_detail.platforms }}</p>
                <p>Involved Companies: {{ game_detail.involved_companies }}</p>
            </div>
            </div>
        {% endfor %}
            <a class="back-button" href="{{ referer }}">Go Back</a>
</main>
</body>
</html>