{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ game_details.name }}</title>
    <meta name="description"
          content="Get detailed information about your favorite games on Game-Finder. Explore genres, release dates, platforms, developers, and more. Click to learn everything about the game you love.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'main/images/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap">
{#    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"#}
{#          rel="stylesheet">#}
</head>
<body>
<main>
    <h1 class="homepage-title"><a href="{% url 'search' %}">Game Finder 🎮</a></h1>
    <div class="page-container">
        <div class="img-card">
            {% if game_details.cover and game_details.cover.url %}
                <img alt="{{ game_details.name }} cover" src="{{ game_details.cover.url }}">
            {% else %}
                <img alt="No cover available" src="{% static 'main/images/imagenotfound.png' %}">
            {% endif %}
        </div>
        <div class="details-container">
            <h1 class="details-title">{{ game_details.name }}</h1>
            <h3 class="details-summary">Summary:</h3>
            {% if not game_details.summary %}
                <p><span>*No Summary Found*</span></p>
            {% else %}
                <p>{{ game_details.summary }}</p>
            {% endif %}
            <h3>Release Dates:</h3>
            {% if not game_details.release_dates %}
                <p><span>*No Release Dates Found*</span></p>
            {% else %}
                {% if game_details.release_dates|length > 1 %}
                    <p>{{ game_details.release_dates.1.human }}</p>
                {% else %}
                    <p>{{ game_details.release_dates.0.human }}</p>
                {% endif %}
            {% endif %}
            <h3>Genres:</h3>
            {% if not game_details.genres %}
                <p><span>*No Genres Found*</span></p>
            {% else %}
                <p>
                    {% for genre in game_details.genres %}
                        {{ genre.name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
            {% endif %}
            <h3>Platforms:</h3>
            {% if not game_details.platforms %}
                <p><span>*No Platforms Found*</span></p>
            {% else %}
                <p>
                    {% for platform in game_details.platforms %}
                        {{ platform.name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
            {% endif %}
            <h3>Developers/Publishers:</h3>
            {% if not game_details.involved_companies %}
                <p><span>*No Developers/Publishers Found*</span></p>
            {% else %}
                <p>
                    {% for company in game_details.involved_companies %}
                        {{ company.company.name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
            {% endif %}
        </div>
    </div>
    <a class="back-button" href="{{ referer }}">Go Back</a>
</main>
</body>
</html>