{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game Finder</title>
    <meta name="description"
          content="Find your favourite games with Game-Finder! Search through a vast collection of games and discover a new perfect match for your gaming preferences.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'main/images/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap" rel="stylesheet">
    <script>
        const defaultImageUrl = "{% static 'main/images/imagenotfound.png' %}";
    </script>
</head>
<body>
<main>
    <p class="search-container">
    <h1 class="homepage-title"><a href="{% url 'search' %}">Game Finder 🎮</a></h1>
    <form method="GET" class="search-form" action="" autocomplete="off">
        <input class="search-input" type="text" name="query" placeholder="Search...">
        {#            <button class="search-button"></button>#}
    </form>
    {#        {% if error_message %}#}
    <div class="error hidden" role="alert">
        {#                {{ error_message }}#}
    </div>
    {#        {% endif %}#}
    {#        <a class="credentials-link" href={% url 'credentials' %}>Set API Credentials</a>#}
    </div>
    <div class="card-container">
        {% for game in games %}
            <div class="card">
                <a class="card-link" href="#" data-game-id="{{ game.id }}"
                   data-detail-url="{% url 'details' game_id=game.id %}">
                    {% if game.cover and game.cover.url %}
                        <img class="card-thumbnail" alt="{{ game.name }} cover." src="{{ game.cover.url }}">
                    {% else %}
                        <img class="card-thumbnail" alt="No {{ game.name }} cover available."
                             src="{% static 'main/images/imagenotfound.png' %}">
                    {% endif %}
                    <p class="card-title">{{ game.name }}</p>
                </a>
            </div>
        {% endfor %}
    </div>
</main>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'main/js/search.js' %}"></script>
</body>
</html>