{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game Finder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'main/images/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<main>
    <div class="search-container">
        <h1 class="homepage-title"><a href="{% url 'search' %}">Game Finder 🎮</a></h1>
        <form method="GET" class="search-form" action="">
            <input class="search-input" type="text" name="query" placeholder="Search...">
        </form>
        {% if error_message %}
            <div class="error" role="alert">
                {{ error_message }}
            </div>
        {% endif %}
        <a class="credentials-link" href={% url 'credentials' %}>Set Credentials</a>
    </div>
    <div class="card-container">
        {% for game in games %}
            <div class="card">
                <a class="card-link" href="{% url 'details' game_id=game.id %}">
                    {% if game.cover and game.cover.url %}
                        <img class="card-thumbnail" alt="{{ game.name }} cover" src="{{ game.cover.url }}">
                    {% else %}
                        <img class="card-thumbnail" alt="No cover available" src="{% static 'main/images/imagenotfound.png' %}">
                    {% endif %}
                    <p class="card-title">{{ game.name }}</p>
                </a>
            </div>
        {% endfor %}
    </div>
</main>
</body>
</html>