body {
    background-color: #1E1E1E;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    width: 100%;
    margin: 0;
    scrollbar-gutter: stable both-edges;
}

a {
    text-decoration: none;
    color: #ffffff;
}

main {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.homepage-title {
    font-size: 8em;
    margin: 20px;
    margin-bottom: 40px;
    font-family: "Montserrat Alternates", sans-serif;
}


/*Search.html*/
.search-form {
    display: flex;
    justify-content: center;
    width: 30%;
}

.search-input {
    border-radius: 60px;
    font-size: 24px;
    background-color: #ffffff;
    background-image: url('../images/searchicon.svg');
    background-position: 97% center;
    padding: 15px;
    background-repeat: no-repeat;
    background-size: 20px;
    width: 100%;
}

.search-container {
    margin-top: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card-container {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 3fr));
    /*margin: 30px 20px;*/
    margin-top: 150px;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 17px;
    background-color: #111111;
    margin: 20px;
}

.card-title {
    margin: 5px;
    /*font-size: 1.2em;*/
    font-weight: bold;
}

.card-thumbnail {
    border-radius: 15px 15px 0 0;
    width: 100%;
}

.card:hover {
    opacity: 0.5;
}

.card-link {
    text-align: center;
    width: 100%;
}

/*details.html*/
.img-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.img-card img {
    width: 100%;
    max-width: 600px;
    margin: 0 40px;
}

.page-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.details-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 5px;
}

.details-container h3 {
    margin: 0;
}

.details-container p {
    margin-top: 2px;
}

.details-container span {
    opacity: 0.4;
}

.details-title {
    font-size: 3em;
    margin-top: 5px;
    margin-bottom: 10px;
}

.details-container p {
    font-size: 1.5em;
}

.back-button {
    padding: 10px;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 1.4em;
}

.back-button:hover {
    color: #1E1E1E;
    background-color: #ffffff;
}

.credentials-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    background-color: #111111;
    padding: 50px 20px;
    border-radius: 25px;
}

.credentials-form label{
    font-size: 2em;
}

.credentials-form h1{
    margin: 5px;
}

.credentials-form input{
    margin: 5px;
}

.credentials-form button{
    padding: 10px;
    color: #111111;
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 1.4em;
}

.credentials-form button:hover {
    color: #ffffff;
    background-color: #111111;
}


@media only screen and (max-width: 1200px) {
    .homepage-title {
        font-size: 4em;
        margin: 20px;
    }

    .details-container {
        font-size: 80%;
    }

    .search-form {
        width: 80%;
    }

    .page-container {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .details-container {
        align-items: center;
        justify-content: center;
        width: 80%;
    }

    .details-container h3 {
        font-size: 1.7em;
    }

    .details-title {
        text-align: center;
        font-size: 3em;
    }

    .img-card img {
        margin: 0;
    }
}


@media only screen and (max-width: 768px) {
    .search-container {
        margin-top: 0;
    }

    .details-title {
        text-align: center;
        font-size: 1.5em;
    }

    .details-summary {
        font-size: 1em;
    }

    .img-card {
        align-items: center;
        margin: 10px;
        width: 80%;
    }

    .back-button {
        margin-top: 30px;
    }

    .card-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 5px;
    }

    .card {
        margin: 30px;
    }

    .homepage-title {
        font-size: 2.3em;
        margin: 20px;
    }

    .search-form {
        width: 90%;
    }

    .search-input {
        background-position: 94% center;
        padding: 10px 15px;
    }
}
